@import './../../styles/colors.scss';
@import './../../styles/variables.scss';
@import './../../styles/mixins.scss';
@import "./../../styles/extensions.scss";

.pageContent {
  display: flex;
  align-items: stretch;
  max-height: calc(100vh - 205px);
  flex-direction: column;
  flex: 1 1 auto;
}

.topBlock {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;
}

.backBtn {
  // display: flex;
  @extend %centered;
  padding: 7px 20px;
  border-radius: $border-raduis-small;
  gap: 8px;
  color: $color-text-secondary;
  background-color: $background-primary;
  transition: 0.3s ease;

  & > span {
    color: inherit;
  }

  &:hover {
    color: $text-color;
  }

  @media (max-width: 425px) {
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 20px;

    .backBtnIcon {
      min-width: 14px;
    }
    .backLink {
      display: none;
    }
  }
}

.backBtnIcon {
  min-width: 8px;
  width: 8px;
}

.backLink {
  white-space: nowrap;
}

.boardInfo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 25px;
  color: $text-color;
  @include contentLimit(1);

  @media (max-width: 568px) {
    font-size: 20px;
  }
}

.description {
  color: $color-text-secondary;
  @include contentLimit(2);
}

.boardContent {
  display: flex;
  height: 100%;
  align-items: stretch;
  flex: 1 1 auto;

  @media (max-width: 568px) {
    flex-direction: column;
  }
}

.columnsContainer {
  display: flex;
  align-items: stretch;
  // flex: 1 1 auto;
  padding-bottom: 5px;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

.columnsContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.columnsContainer::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $light-shadow;
}

.columnsContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $base-dark-lighter-color;
}

.columnsContainer::-webkit-scrollbar-thumb:hover {
  background: $base-dark-color;
}
