@import "./../../styles/colors.scss";
@import "./../../styles/variables.scss";

.pageContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1 1 auto;
}

.topBlock {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  align-items: center;
}

.backBtn {
  display: flex;
  padding: 7px 20px;
  border-radius: $border-raduis-small;
  gap: 8px;
  color: $color-text-secondary;
  background-color: $background-primary;
  transition: 0.3s ease;

  & > span {
    color: inherit;
  }

  &:hover {
    color: $text-color;
  }
}

.backBtnIcon {
  width: 8px;
}

.boardInfo {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 25px;
  color: $text-color;
}

.description {
  color: $color-text-secondary;
}

.boardContent {
  display: flex;
  height: 100%;
  align-items: stretch;
  flex: 1 1 auto;
}

.columnsContainer {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  padding-bottom: 5px;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

.columnsContainer::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.columnsContainer::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $light-shadow;
}

.columnsContainer::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $base-dark-lighter-color;
}

.columnsContainer::-webkit-scrollbar-thumb:hover {
  background: $base-dark-color;
}