@import './../../styles/colors.scss';

.authorisation {
  color: $base-light-color;
}

.title {
  font-size: 25px;
  color: $text-color;
}

.subtitle {
  // color: $color-text-secondary;
}

.formSwitcher {
}

.navigateTo {
}
