@import "./../../../../styles/colors.scss";
@import "./../../../../styles/variables.scss";
@import "./../../../../styles/extensions.scss";

.newTask {
  @extend %centered;
  padding: 15px 15px;
  border-radius: $border-raduis-small;
  gap: 5px;
  color: $color-text-secondary;
  background-color: rgba(44, 44, 55, 0.3);
  cursor: pointer;

  &:hover {
    color: $color-text-secondary;
    background-color: rgba(44, 44, 55, 0.4);

    .newTaskIcon {
      opacity: 0.5;
    }

    .newTaskTitle {
      opacity: 0.5;
    }
  }
}

.newTaskIcon {
  opacity: 0.2;
  transition: 0.3s ease;
}

.newTaskTitle {
  font-size: 14px;
  font-weight: bold;
  opacity: 0.2;
  transition: 0.3s ease;
}