@import '../../../../styles/colors.scss';
@import '../../../../styles/mixins.scss';

.menuContent {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: $background-primary;
  color: $text-color;
  padding: 0 20px;
  z-index: 50;
  transition: all 0.6s ease;
}

.togglersWrapper {
  position: absolute;
  right: 20px;
  top: -60px;
  gap: 15px;
  display: none;
}

.navLink {
  display: flex;
  padding: 8px 12.5px;
  border-radius: 22px;
  border: 2px solid $accent-color;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $accent-color-darker;
    background-color: $const-light-color-hover;
  }
}

.menuHeader {
  border-bottom: 1px solid $color-text-secondary;
  width: 100%;
  margin-bottom: 20px;
}

.createBoardBtn {
  display: flex;
  align-items: flex-start;
  margin: 10px auto 10px 0;
  gap: 5px;
  font-size: 16px;
  color: inherit;
  background-color: transparent;
  font-weight: 700;
  transition: 0.3s ease;

  .createBoardBtnImg {
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(13%) saturate(91%) hue-rotate(197deg)
      brightness(104%) contrast(91%);
  }

  &:hover {
    color: $accent-color-darker;
    cursor: pointer;
  }
}

.boardListTitle {
  font-size: 20px;
  padding: 5px 0;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 16px auto;
  height: 40px;

  & .inputLine {
    @include inputStyle;
    font-size: 18px;
    z-index: 2;
  }

  & ::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: url('../../../../assets/images/inputClear.svg');
    margin-right: 2px;
    cursor: pointer;
  }
}

.boardList {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.boardItem {
  display: block;
  text-align: left;
  cursor: pointer;
  min-width: 100%;
  padding: 3px 0;
  border: 1px solid transparent;
  transition: all 0.1s ease;

  @include contentLimit(1);
  &:hover {
    background-color: $background-primary-darker;
    border: 1px solid $background-primary-lighter;
  }

  .boardNavLink {
    padding: 0 10px;
    @include contentLimit(1);
  }
}

.noMatchesMessage {
  font-size: 16px;
}

.noMatchesValue {
  font-size: 16px;
  font-weight: 700;
  @include contentLimit(1);
}

@media (max-width: 620px) {
  .togglersWrapper {
    display: flex;
  }
}
