@import '../../../styles/colors.scss';
@import '../../../styles/extensions.scss';
@import '../../../styles/mixins.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, .5);
  opacity: 0;
  pointer-events: none;
  z-index: 49;
  transition: all .5s ease;

  &.active {
    pointer-events: all;
    opacity: 1;
  }
}

.menu {
  width: 300px;
  height: 100%;
  background-color: $background-primary;
  box-shadow: 0px 0px 4px 1px $background-light-hovered;
  box-shadow: 0px 0px 4px 1px $background-light-hovered;
  z-index: 10;
  transform: translateX(-100%);
  transition: all .9s ease;

  &.active {
    transform: translateX(0%);
  }
}

.burger {
  @extend %centered;
  position: relative;
  padding: 40px;
  flex-direction: column;
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.burgerLine,
.burgerLine:before,
.burgerLine:after {
  position: absolute;
  width: 35px;
  height: 4px;
  display: block;
  transition: .3s;
  border-radius: 5px;
  background-color: $accent-color;
  transition: all 0.4s ease-in-out;
}

.burgerLine:before{
  content: "";
  background-color: $accent-color-darker;
  top: -10px;
  transition: top 0.4s 0.4s,
  transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burgerLine:after {
  content: "";
  background-color: $accent-color-lighter;
  bottom: -10px;
  transition: bottom 0.4s 0.4s,
  transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.active .burgerLine:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 0.4s,
  transform 0.4s 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active .burgerLine:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 0.4s,
  transform 0.4s 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active .burgerLine{
  background: transparent; 
}
