@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.contentWrapper {
  @extend %centered;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: var(--text-color);
  line-height: 1.25;
}

.title {
  font-size: 2rem;
  color: $text-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem
}

.teamList {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.teamItem {
  display: flex;
  justify-content: left;
  gap: 30px;
}

// .teamItem:nth-child(even) {
//   justify-content: right;
//   flex-direction: row-reverse;
// }

.imageWrapper {
  display: flex;
  width: 120px;
  height: auto;
  border-radius: $border-radius-medium;
  overflow: hidden;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-color;
  line-height: 1.5;
}

.memberTitle {
  font-size: 32px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
}

.memberTitle:hover {
  color: $accent-color;
}

.memberRole {
  color: $color-text-secondary;
  font-size: 20px;
}
