@import '../../../styles/colors.scss';
@import '../../../styles/extensions.scss';
@import '../../../styles/mixins.scss';

.wrapper {
  @extend %centered;
  overflow: hidden;
  gap: 15px;
  position: absolute;
  top: 0;
}
.activeWrapper {

}

.title {
  font-size: 2rem;
  color: $base-light-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem
}

.subtitle {
  font-size: 1.5rem;
  color: $color-text-secondary;
  line-height: 1.5;
  margin-bottom: 3rem;
  width: 550px;
}

.navList {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.navItem:first-child {
  @include buttonStyle(5px, 30px);
  width: 150px;
  text-align: center;
}

.navItem {
  @include buttonStyleNegative(5px, 30px);
}

.imageWrapper {
  max-width: 700px;
}

.image {
  -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 90%;
  -webkit-mask-repeat: no-repeat;
}
