@import '../../../styles/colors.scss';
@import '../../../styles/extensions.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.wrapper {
  @extend %centered;
  overflow: hidden;
  gap: 15px;
}

.title {
  font-size: 2rem;
  color: $text-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 1.5rem;
  color: $color-text-secondary;
  line-height: 1.5;
  margin-bottom: 3rem;
  width: 550px;
}

.videoWrapper {
  max-width: 700px;

  margin: 10px;
  border-radius: $border-radius-medium;
  box-shadow: 0 0 10px $dark-shadow;
  overflow: hidden;
}

.benefitVideo {
  display: block;
  width: 100%;
}
