@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.contentWrapper {
  @extend %centered;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 2rem;
  color: $text-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem;

  @media (max-width: 900px) {
    text-align: center;
  }
}

.buttonList {
  display: flex;
  gap: 30px;
  font-size: 16px;

  @media (max-width: 768px) {
    
  }
}

.button {
  @include formBtn(10px, 180px);
  color: $text-color;
  font-size: inherit;
  background-color: transparent;
  border: 2px solid $accent-color;

  @media (max-width: 900px) {
    @include formBtn(10px, 150px);
    color: $text-color;
    background-color: transparent;
    border: 2px solid $accent-color;
  }

  @media (max-width: 768px) {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    font-size: 0;
  }
}

.button:hover {
  border: 2px solid $accent-color;
  background-color: $const-light-color-hover;
  color: $accent-color;
}

.activeButton {
  @include cancelFormBtn(10px, 180px);
  border: 2px solid $accent-color;
  background-color: $accent-color;
  color: $const-light-color-hover;

  @media (max-width: 900px) {
    @include cancelFormBtn(10px, 150px);
    border: 2px solid $accent-color;
    background-color: $accent-color;
    color: $const-light-color-hover;
  }

  @media (max-width: 768px) {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    font-size: 0;
  }
}

.activeButton:hover {
  border: 2px solid $accent-color-darker;
  background-color: $accent-color-darker;
  color: $const-light-color-hover;
}

.contentList {
  position: relative;
  min-height: 400px;
  width: 100%;

  @media (max-width: 900px) {
    min-height: 530px;
  }
}

.contentItem {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  filter: alpha(opacity=0);

  @media (max-width: 900px) {
    width: 100%;
  }
}

.contentItemActive {
  opacity: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  filter: alpha(opacity=1);
}
