@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';
@import '../../styles/mixins.scss';

.contentWrapper {
  @extend %centered;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 2rem;
  color: $base-light-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem
}

.buttonList {
  display: flex;
  gap: 30px;
}

.button {
  @include buttonStyle(5px, 30px);
  width: 150px;
  text-align: center;
}

.activeButton {
  @include buttonStyleNegative(5px, 30px);
  width: 150px;
}

.contentList {
  min-height: 500px;
  width: 100%;
  position: relative;
}

.contentItem {
  visibility: hidden;
  transition: all 0.3s ease;
}

.contentItemActive {
  visibility: visible;
}