@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';

.contentWrapper {
  @extend %centered;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 2rem;
  color: $base-light-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem
}

.buttonList {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.button {
  @include buttonStyle(10px, 25px);
  width: 180px;
  font-size: inherit;
}

.activeButton {
  @include buttonStyleNegative(10px, 25px);
  width: 180px;
  font-weight: 700;
}

.contentList {
  min-height: 500px;
  width: 100%;
  position: relative;
}

.contentItem {
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

.contentItemActive {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}