// $text-color: #e1e1e1;
// $text-color-hovered: #f9f9f9;

// $color-text-secondary: #9c9c9c;

// $background-primary: #2c2c37;
// $background-primary-lighter: #393947;
// $background-primary-darkest: #1f202a;
// $background-primary-darker: #21222d; //Layout

$text-color: var(--text-color);
$text-color-hovered: var(--text-color-hovered);

$color-text-secondary: var(--color-text-secondary);

$background-primary: var(--background-primary);
$background-primary-lighter: var(--background-primary-lighter);
$background-primary-darkest: var(--background-primary-darkest);
$background-primary-darker: var(--background-primary-darker);

$shadow-color: #181622; //shadow don't change

$accent-color: #715be3; //button don't change
$accent-color-darker: #604acc; //button don't change
$accent-color-lighter: #907bfc; //button don't change

$accent-color-second: #42946e; //don't change
$accent-color-third: #306ee8; //don't change

$light-shadow: #b5b5b5; //scroll don't change
$dark-shadow: #5c5b5b; //scroll, input border, don't change

$warning-color: #fc4c4c; //don't change
$warning-color-second: #d5ba24; //don't change

$loader-color: #8c6ff0; //don't change
$loader-color-right: #5628ee; //don't change
$loader-color-left: #23c4f8; //don't change

$toast-light-color: #e1e1e1; //don't change
$toast-dark-color: #2c2c37; //don't change

:root[data-theme="dark"] {
  --text-color: #e1e1e1;
  --text-color-hovered: #f9f9f9;
  
  --color-text-secondary: #9c9c9c;
  
  --background-primary: #2c2c37;
  --background-primary-lighter: #393947;
  --background-primary-darkest: #1f202a;
  --background-primary-darker: #21222d; //Layout
}
:root[data-theme="light"] {
  --text-color: #21222d;
  // --text-color-hovered: #f9f9f9;
  
  --color-text-secondary: #9c9c9c;
  
  --background-primary: #f0eefa;
  // --background-primary-lighter: #e7e5f8;
  // --background-primary-darkest: #1f202a;
  --background-primary-darker: #e7e5f8; //Layout

}
