$text-color: #E1E1E1;
$text-color-hovered: #F4F4F4;
$color-text-secondary: #9c9c9c;
$color-text-secondary-hovered: #757575;

$primary-button: #7B61FF;
$button-hovered: #8A73FF;
$button-active: #715BE3;
$button-disabled: #8d7cee;

$background-color-primary: #13111C;
$background-color-hovered: #181622;
$background-color-active: #1d1e22;

$accent-color: #42946E;
$accent-color-hovered: #95D0B4;

$accent-color-second: #306EE8;
$accent-color-second-hovered: #8CAEF2;
