@import './colors.scss';
@import './extensions.scss';
@import './fonts.scss';

@mixin formBtn($padding: 5px, $width: fit-content) {
  background-color: $accent-color;
  color: $const-light-color;
  border-radius: 30px;
  padding: $padding;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  width: $width;
  font-family: $font-name, sans-serif;
  text-align: center;

  &:hover {
    background-color: $accent-color-darker;
    border: 1px solid $accent-color-darker;
  }

  &:active {
    background-color: $accent-color-darker;
    color: $const-light-color;
  }

  &:disabled {
    color: $const-light-color;
    background-color: $color-text-secondary;
    cursor: not-allowed;
  }

  &:disabled:hover {
    border: 1px solid transparent;
  }
}

@mixin cancelFormBtn($padding: 5px, $width: fit-content) {
  background-color: $const-light-color-hover;
  color: $accent-color;
  border-radius: 25px;
  padding: $padding;
  border: 2px solid $accent-color;
  transition: all 0.3s ease-in-out;
  width: $width;
  font-family: $font-name, sans-serif;
  text-align: center;

  &:hover {
    background-color: $const-light-color;
  }

  &:active {
    background-color: $text-color-hovered;
    color: $accent-color-darker;
  }

  &:disabled {
    background-color: $color-text-secondary;
    color: $color-text-secondary;
  }
}

@mixin deleteFormBtn($padding: 5px, $width: fit-content) {
  background-color: $const-light-color-hover;
  color: $warning-color;
  border-color: $warning-color;
  border-radius: 30px;
  padding: $padding;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  width: $width;

  &:hover {
    background-color: $warning-color;
    border-color: $warning-color;
    color: $const-light-color-hover;
  }

  &:active {
    color: $const-light-color-hover;
  }
}

@mixin inputStyle($padding: 7px) {
  outline: none;
  border: 1.5px solid $dark-shadow;
  border-radius: 3px;
  background-color: transparent;
  color: $color-text-secondary;
  padding: $padding;
}

@mixin contentLimit($linesCount) {
  display: -webkit-box;
  overflow: hidden;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $linesCount;
}

@mixin elementModal() {
  .elementModal {
    width: 359px;
    max-width: 600px;

    @media (max-width: 450px) {
      width: auto;
    }
  }

  .titleWrapper {
    @extend %form-title;
    margin-bottom: 30px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
