@import '../../styles/mixins.scss';

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;

  @media (max-width: 425px) {
    gap: 15px;
  }
  
  .submitBtn {
    text-transform: uppercase;
    @include formBtn(5px, 120px);

    @media (max-width: 425px) {
      @include formBtn(5px, 110px);
    }
  }

  .canselBtn {
    text-transform: uppercase;
    @include cancelFormBtn(5px, 120px);

    @media (max-width: 425px) {
      @include cancelFormBtn(5px, 110px);
    }
  }
}
