@import '../../styles/mixins.scss';

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;

  @media (max-width: 425px) {
    gap: 10px;
  }

  .submitBtn {
    text-transform: uppercase;
    @include buttonStyle(5px, 30px);

    @media (max-width: 425px) {
      @include buttonStyle(5px, 20px);
    }
  }

  .canselBtn {
    text-transform: uppercase;
    @include buttonStyleNegative(5px, 30px);

    @media (max-width: 425px) {
      @include buttonStyleNegative(5px, 20px);
    }
  }
}
