@import '../../../../styles/extensions.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/colors.scss';
@import '../../../../styles/variables.scss';

.imagesWrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
}

.imageWrapper {
  @extend %centered;
  justify-content: end;
  align-items: flex-end;
  border-radius: $border-raduis-small;
  cursor: pointer;
  background-color: transparent;
  outline: 4px solid transparent;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $accent-color-lighter;
  }
}

.activeAvatar {
  background-color: $accent-color-darker;
}

.currentAvatar {
  outline: 4px solid $accent-color;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;

  .submitBtn {
    text-transform: uppercase;
    @include buttonStyle(5px, 30px);
  }

  .canselBtn {
    text-transform: uppercase;
    @include buttonStyleNegative(5px, 30px);
  }
}
