
@import '../../../../styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;

  .submitBtn {
    @include buttonStyle(10px, 30px);
  }

  .deleteBtn {
    @include deleteButtonStyle(10px, 30px);
  }
}