@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';
@import '../../styles/mixins.scss';
@import '../../styles/fonts.scss';
@import '../../styles/variables.scss';

.contentWrapper {
  @extend %centered;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: $text-color;
  line-height: 1.25;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aboutText {
  font-size: 1.5rem;
  text-indent: 30px;
  text-align: justify;
}
