@import './../../../styles/colors.scss';
@import './../../../styles/variables.scss';

.task {
  display: flex;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 20px 15px;
  border: 1px solid $background-primary;
  border-radius: $border-radius-small;
  justify-content: space-between;
  gap: 5px;
  color: $color-text-secondary;
  background-color: $background-primary;
  outline: 1px solid $background-primary-darkest;
  transition: border 0.3s;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    border: 1px solid $accent-color-lighter;
  }
}

.task.dragged {
  border: 1px solid $accent-color-lighter;
}

.taskContent {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.title {
  font-size: 16px;
  color: $text-color;
}

.assignee {
  font-size: 13px;
  word-wrap: wrap;
  word-break: break-all;
}

.removeTaskIcon {
  width: 17px;
  min-width: 17px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: $text-color;
  }
}
