@import '../../../styles/mixins.scss';

.wrapper {
  margin: auto;
  max-width: 600px;
}

.deleteBtn {
  @include buttonStyleNegative(10px);
  color: #fc4c4c;
  border-color: #fc4c4c;
  font-weight: 700;
  width: fit-content;

  &:hover {
    background-color: #fc4c4c;
    border-color: #fc4c4c;
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}
