@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';
@import '../../styles/mixins.scss';

.wrapper {
  @extend %centered;
  overflow: hidden;
  gap: 15px;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  color: $base-light-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.subtitle {
  font-size: 24px;
  color: $color-text-secondary;
  line-height: 1.5;
  margin-bottom: 3rem;
  width: 550px;
}

.navList {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.navLink {
  display: block;
  @include buttonStyle(10px, 30px);
  width: 180px;
  text-align: center;
}

.navLinkAlt {
  display: block;
  @include buttonStyleNegative(10px, 30px);
  width: 180px;
  text-align: center;
}

.imageWrapper {
  max-width: 700px;
}

.heroImage {
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-size: 100% 90%;
  -webkit-mask-repeat: no-repeat;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-size: 100% 90%;
  mask-repeat: no-repeat;
}
