@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  @extend %centered;
  overflow: hidden;
  gap: 35px;
  min-height: 100vh;

  @media (max-width: 1024px) {
    min-height: calc(100vh - 90px);
    flex-direction: column;
    gap: 65px;
  }

  @media (max-width: 1024px) {
    gap: 40px;
  }
}

.content {
  width: 550px;

  @media (max-width: 1024px) {
    width: 600px;
  }

  @media (max-width: 900px) {
    max-width: 500px;
    width: 90%;
  }

  @media (max-width: 425px) {
    width: 100%;
  }
}

.title {
  font-size: 3rem;
  color: $text-color;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 1.5rem;

  @media (max-width: 1024px) {
    font-size: 38px;
  }

  @media (max-width: 900px) {
    text-align: center;
  }

  @media (max-width: 425px) {
    font-size: 30px;
    text-align: center;
  }
}

.subtitle {
  font-size: 24px;
  color: $color-text-secondary;
  line-height: 1.5;
  margin-bottom: 3rem;

  @media (max-width: 1024px) {
    font-size: 20px;
  }

  @media (max-width: 900px) {
    text-align: center;
  }

  @media (max-width: 425px) {
    text-align: center;
  }
}

.navList {
  display: flex;
  gap: 15px;
  font-size: 16px;

  @media (max-width: 900px) {
    justify-content: center;
  }

  @media (max-width: 375px) {
    gap: 10px;
  }
}

.navLink {
  display: block;
  @include formBtn(10px, 180px);

  @media (max-width: 500px) {
    @include formBtn(10px, 150px);
  }

  @media (max-width: 375px) {
    @include formBtn(5px, 130px);
  }
}

.navLinkAlt {
  display: block;
  @include cancelFormBtn(10px, 180px);
  width: 180px;

  @media (max-width: 500px) {
    @include cancelFormBtn(10px, 150px);
  }

  @media (max-width: 375px) {
    @include cancelFormBtn(5px, 130px);
  }
}

.imageWrapper {
  max-width: 700px;
  width: 65%;
  margin-right: 10px;
  border-radius: $border-radius-medium;
  box-shadow: 0 0 10px $dark-shadow;
  overflow: hidden;

  @media (max-width: 900px) {
    max-width: 500px;
    width: 90%;
  }

  @media (max-width: 425px) {
    width: 93%;
    margin-right: 0;
  }
}

.image {
  width: 700px;
  
  @media (max-width: 900px) {
    width: 100%;
  }
}