@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition: all .3s ease-in-out;

  &.active {
    pointer-events: all;
    opacity: 1;
  }
}

.modalContent {
  padding: 20px;
  border-radius: $border-raduis-small;
  color: $color-text-secondary;
  background-color: $background-primary;
  box-shadow: 0px 0px 4px 1px $background-light-hovered;
  transform: scale(0.5);
  transition: all .3s ease-in-out;

  &.modalContentActive {
    transform: scale(1);
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;

  .submitBtn {
    @include buttonStyle(5px, 30px);
  }

  .deleteBtn {
    @include deleteButtonStyle;;
  }
}