@import '../../styles/colors.scss';
@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: all 0.3s ease-in-out;

  &.active {
    pointer-events: all;
    opacity: 1;
    z-index: 100;
  }
}

.modalContent {
  padding: 20px;
  border-radius: $border-raduis-small;
  color: $base-light-color;
  font-weight: 700;
  background-color: $background-primary;
  box-shadow: 0px 0px 4px 1px $background-light-hovered;
  transform: scale(0.5);
  transition: all 0.3s ease-in-out;

  &.modalContentActive {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .modalContent {
    width: 50vw;
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .buttonsWrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .modalContent {
    font-size: 14px;
  }
}
