@import "./../../styles/colors.scss";
@import "./../../styles/variables.scss";
@import "./../../styles/extensions.scss";

.newColumn {
  @extend %centered;
  width: 230px;
  min-width: 230px;
  padding: 8px;
  margin-top: 43px;
  margin-left: 10px;
  border-radius: $border-raduis-small;
  flex-direction: column;
  gap: 10px;
  color: $color-text-secondary;
  background-color: rgba(44, 44, 55, 0.5);
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: $color-text-secondary;
    background-color: rgba(44, 44, 55, 1);

    .newColumnIcon {
      opacity: 1;
    }

    .newColumnTitle {
      opacity: 1;
    }
  }
}

.newColumnIcon {
  width: 40px;
  opacity: 0.8;
  transition: 0.3s ease;
}

.newColumnTitle {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  transition: 0.3s ease;
}