@import "./../../styles/colors.scss";
@import "./../../styles/variables.scss";
@import "./../../styles/extensions.scss";

.newColumn {
  @extend %centered;
  width: 230px;
  min-width: 230px;
  padding: 8px;
  margin-top: 43px;
  margin-left: 10px;
  border-radius: $border-raduis-small;
  flex-direction: column;
  gap: 10px;
  color: $color-text-secondary;
  background-color: $new-element-color;
  outline: 1px solid $background-primary-darkest;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    color: $color-text-secondary;
    background-color: $new-element-color-hovered;

    .newColumnIcon,
    .newColumnTitle {
      opacity: 1;
    }
  }

  @media (max-width: 568px) {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 12px;
    flex-direction: row;
    order: -1;
    background-color: $background-primary;

    .newColumnIcon,
    .newColumnTitle {
      opacity: 1;
    }
  }
}

.newColumnIcon {
  width: 40px;
  opacity: 0.8;
  transition: 0.3s ease;

  @media (max-width: 568px) {
    width: 25px;
  }
}

.newColumnTitle {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  transition: 0.3s ease;

  @media (max-width: 568px) {
    font-size: 18px;
  }
}