@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');

.header {
  display: flex;
  padding: 15px 20px;
  outline: 5px solid #444455;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #2c2c37;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.burger {
  display: flex;
  width: 35px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;

  .burgerLine {
    width: 100%;
    height: 4px;
    background-color: #514f91;
  
    &:first-child {
      background-color: #6561ad;
    }
    
    &:last-child {
      background-color: #474875;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: #ecedf4;
}

.actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 15px;
}

.createBoardBtn {
  display: flex;
  padding: 13px 30px;
  border: none;
	outline: none;
  border-radius: 25px;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-size: inherit;
  color: #ecedf4;
  background-color: #6561ad;
  transition: background-color 0.3s linear;
  
  .createBoardBtnImg {
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(13%) saturate(91%) hue-rotate(197deg) brightness(104%) contrast(91%);
  }

  &:hover {
    background-color: #514f91;
    cursor: pointer;
  }  
}

