@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import "./../../styles/colors.scss";
@import '../../styles/extensions.scss';

.header {
  display: flex;
  padding: 15px 20px;
  outline: 3px solid $background-primary-lighter;
  align-items: center;
  color: $text-color;
  background-color: $background-primary;

}

.headerContent {
  display: flex;
  align-items: center;
}

.burger {
  @extend %centered;
  flex-direction: column;
  width: 35px;
  height: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.burgerLine,
.burgerLine:before,
.burgerLine:after {
  position: absolute;
  width: 35px;
  height: 4px;
  display: block;
  transition: .3s;
  border-radius: 5px;
  background-color: $accent-color;
  transition: all 0.4s ease-in-out;
}

.burgerLine:before{
  content: "";
  background-color: $accent-color-darker;
  top: -10px;
  transition: top 0.2s 0.2s, transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.burgerLine:after {
  content: "";
  background-color: $accent-color-lighter;
  bottom: -10px;
  transition: bottom 0.2s 0.2s, transform 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.active .burgerLine:before{
  content: "";
  top: 0px;
  transform: rotate(45deg);
  transition: top 0.2s, transform 0.2s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.active .burgerLine:after{
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 0.2s, transform 0.2s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.active .burgerLine{
  background: transparent; 
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  transition: 0.3s ease;

  &:hover {
    color: $text-color-hovered;
  }
}

.actions {
  display: flex;
  margin-left: auto;
  align-items: center;
  gap: 15px;
}

.createBoardBtn {
  display: flex;
  padding: 13px 30px;
  border: none;
	outline: none;
  border-radius: 25px;
  align-items: center;
  gap: 5px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: $accent-color;
  transition: 0.3s ease;
  
  .createBoardBtnImg {
    width: 15px;
    height: 15px;
    filter: brightness(0) saturate(100%) invert(91%) sepia(13%) saturate(91%) hue-rotate(197deg) brightness(104%) contrast(91%);
  }

  &:hover {
    background-color: $accent-color-hovered;
    cursor: pointer;
  }  
}