@import './../../../styles/colors.scss';
@import './../../../styles/extensions.scss';

.themeToggler {
  @extend %centered;
  width: 38px;
  height: 38px;
  border: 2px solid $base-light-color;
  border-radius: 50%;
  background-color: $base-light-color;
  cursor: pointer;

  .themeIcon {
    width: 20px;
    height: 20px;
    font-weight: bold;
    color: $base-dark-color;
    transition: 0.4s ease-in-out;

    &:first-child {
      position: absolute;
      background-color: $base-light-color;
    }
  }

  &:hover {
    .themeIcon:first-child {
      opacity: 0;
    }
  }
}

// @media (max-width: 605px) {
//   .themeToggler {
//     display: none;
//   }
// }