@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';

.wrapper {
  @extend %centered;
  margin: auto;
  // min-height: calc(100vh - 200px);
  flex-direction: column;
  gap: 20px;
  margin: 30px;
  color: $text-color;
}
