@import '../../styles/colors.scss';
@import '../../styles/extensions.scss';

.wrapper {
  @extend %centered;
  margin: auto;
  min-height: calc(100vh - 192px);
}

.content {
  @extend %centered;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
  color: $text-color;

  @media (max-width: 500px) {
    margin: 0;
    width: 100%;
  }
}
