@import './../../../styles/colors.scss';
@import './../../../styles/variables.scss';

.nav {
  position: relative;
}

.navList {
  display: flex;
  gap: 15px;
}

.navItem {
  color: $text-color;
  transition: 0.3s linear;

  &:hover {
    color: $accent-color;
  }
}

.navSeparator {
  width: 2px;
  background-color: $accent-color;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user,
.userDisabled {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 38px;
  height: 38px;
  padding-top: 5px;
  border: 2px solid $accent-color;
  border-radius: 24px;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: $accent-color-darker;
  }
}

.userDisabled {
  border-color: $accent-color-darker;
}

.userAvatar {
  display: block;
  width: 100%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 38px;
  height: 38px;
  border-radius: 24px;
  background-color: transparent;
  cursor: pointer;
}

.userName {
  color: $text-color;
  transition: 0.3s ease;

  &:hover {
    color: $text-color-hovered;
  }
}

.navItemHidden {
  display: flex;
  gap: 15px;
}

@media (max-width: 620px) {
  .navItemHidden {
    display: none;
  }
}

