@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.wrapper {
  @extend %centered;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 500px) {
    width: 250px;
  }
}

.title {
  margin-bottom: 15px;
  font-size: 24px;

  @media (max-width: 768px) {
    text-align: center;
  }

  @media (max-width: 500px) {
    font-size: 18px;
  }
}

.buttonsWrapper {
  @extend %centered;
  gap: 30px;

  .submitBtn {
    text-transform: uppercase;
    @include formBtn(10px, 130px);

    @media (max-width: 500px) {
      @include formBtn(5px, 100px);
    }
  }

  .deleteBtn {
    text-transform: uppercase;
    @include deleteFormBtn(10px, 130px);

    @media (max-width: 500px) {
      @include deleteFormBtn(5px, 100px);
    }
  }
}
