@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/extensions.scss';

.formWrapper {
  @extend %centered;
  flex-direction: column;
  gap: 30px;
  margin: auto;
  max-width: 600px;
  background-color: $background-primary;
  border-radius: 5px;
  padding: 10px 30px 30px;
  box-shadow: 0px 0px 4px 1px $shadow-color;
}

.titleWrapper {
  @extend %form-title;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
