@import '../../styles/mixins.scss';

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  height: 40px;

  & .inputLine {
    @include inputStyle;
    font-size: 18px;
    z-index: 2;
  }

  ::placeholder {
    color: transparent;
    transition: color .4s ease;
  }

  .inputLine:focus::placeholder {
    color: $color-text-secondary;
  }

  & .labelLine {
    position: absolute;
    bottom: 10px;
    left: 6px;
    font-size: 18px;
    background-color: $background-light;
    padding: 0 4px;
    transition: all .3s ease;
  }


  & .labelLineTop {
    position: absolute;
    bottom: -10px;
    left: 6px;
    font-size: 18px;
    background-color: $background-light;
    padding: 0 4px;
    transition: all .3s ease;
    z-index: 3;
    bottom: 33px;
    font-size: 14px;
  }

  & .inputLine:focus ~ .labelLine {
    z-index: 3;
    bottom: 33px;
    font-size: 14px;
  }
}

